* {
    box-sizing: border-box;
}
/* #app {
    position: fixed;
    width: 100%;
    height: 100%;
} */

.container {
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.row {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.col-md-12 {
    padding: 0;
}

.col-md-14 {
    position: relative;
    width: 100%;
    height: 100%;
}
/* .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.row {
    position: absolute;
    height: 100%;
    width: 89%;
} */
.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-signup {
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 20px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}

#login-signup h3 {
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

.form-heading {
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

.form-heading h3 {
    display: block;
}

.form-group {
    position: relative;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
}

.form-control {
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
    transition: 150ms cubic-bezier(.4, 0, -2, 1);
}

.form-control:focus {
    background-color: transparent;
}

.form-control::placeholder {
    color: #f5f5f5;
}

.btn {
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.btn:hover{
    border: 1px solid #54a0ff;
    background: transparent
}

.error {
    color: red;
    padding-top: 10px;
    padding-left: 11px;
    padding-bottom: 2px;
}
::-webkit-scrollbar {
    display: none;
}

/* .form-group input {
    background-color: transparent;
  } */

  @media (min-width: 768px) {
    .container, .container-md ,.container-sm {
        max-width: 100vw;
        height: 92%;
        margin: 0;
        padding: 0;
    }
  }


